<p color="accent">
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" appCustomDirective>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="margin-right: 5rem; " routerLink="user" appCustomDirective>
        User
      </button>
      
      <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="admin" appCustomDirective>
        Admin
      </button>
      <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     
   </button>
  </mat-toolbar>
  </p>
