<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div>
      <app-header></app-header>       <!--implementing nested components and using header here-->
    </div>
    <div >
      <router-outlet></router-outlet>        <!--implementing nested components and using router outled here-->
    </div>
    <div style="margin-top: 31rem;">
      <app-footer></app-footer>       <!--implementing nested components and using footer here-->
    </div>
</body>
</html>